@import '../../css/variables';

.wrapper {
  background-color: $main-blue;
  border-bottom: 4px solid $main-orange;
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.image, .wrapper.sticky, .image_wrapper { transition: all 500ms; }

.wrapper.sticky {
  display: flex;
  justify-content: space-between;
  .image_wrapper {
    position: relative;
    .image {
      transition: all 600ms;
      width: 30%;
    }
  }
}

/*.image_wrapper {
  left: 8%;
  position: absolute;
  width: 180px;
  max-width: 18vw;
}*/

.navigation {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  width: 50%;

  a {
    text-decoration: none;
    color: $white-color;
  }

  li {
    display: flex;
    transition: all 300ms;
    width: 100%;

    a {
      transition: all 300ms;
      padding: 10% 2%;
      text-align: center;
      width: 100%;
    }
  }

  li:hover {
    background-color: $main-orange;
    a { color: $main-blue; }
  }
}

.large_menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 60%;
}

.image { height: 60px; }

@media (max-width: $md-screen) {
  .large_menu { display: none; }
  .image_wrapper { max-width: 130px; }
}

@media (max-width: $xs-screen) {
  .wrapper.sticky {
    .image { height: 5vh !important; }
  }

  .sticky-disabled {
    justify-content: space-between;
    .image_wrapper {
      position: relative;
      left: 0;
      .image { height: 4vh; }
    }
  }
}
