@import './css/variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h6 {
  font-family: $title-font-family;
}

p, label {
  font-family: $text-font-family;
}

h1 {
  color: $white-color;
  font-size: clamp(40px, 6vw, 64px);
}

h3 {
  font-size: clamp(18px, 1.5rem, 24px);
}

h4 {
  font-size: clamp(18px, 1.3rem, 20px);
}

p {
  font-size: clamp(12px, 1rem, 20px);
}

a {
  text-decoration: none;
  color: $basic-font-color;
  font-family: $title-font-family;

  &:hover {
    text-decoration: underline;
  }
}

/****Custom Classes****/
nav img {
  transform: translateY(-100%);
}

.nav-sticky img {
  transform: translateY(0);
}

.page-title {
  display: inline-block;
  text-align: right;
  position: relative;
  left: 5%;
  z-index: 12;
  div {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  img {
    transition: all 600ms;
    transform: translate(0);
  }
}

.sticky {
  z-index: 1;
}

.sticky img {
  transition: all 600ms;
  transform: translate(-230%);
}

.lina-contact-form {
  .item { margin: 2% 0; }

  .input {
    border: 2px solid #000;
    border-radius: 0;
    height: 5vh;
    padding-left: 1%;
  }

  textarea {
    border: 2px solid #000;
    border-radius: 0;
    padding-left: 1%;
  }

  .contact-input-button {
    padding: 1.5% 2%;
    color: $main-orange;
    background-color: $main-blue;
    border: none;
    transition: all 0.3s;

    &:hover {
      background-color: $main-orange;
      color: $main-blue;
      cursor: pointer;
    }
  }
}