@import '../../../css/variables';

.consultation-container {
  background-color: $main-blue;
  height: 20vh;
  display: flex;
}

.consultation-content {
  border: $main-orange solid 3px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  padding: 1% 2%;
  width: 80%;
}

.consultation-text {
  color: $white-color;
  font-family: $main-font;
  font-size: 1.3rem;
}

.link-consultation {
  background-color: $main-orange;
  font-size: 1.2rem;
  padding: 1%;
}

@media (max-width: $xs-screen) {
  .consultation-container {
    height: 15vh;
  }

  .consultation-text {
    padding: 1% 1% 1% 2%;
    margin: 0;
  }

  .link-consultation {
    left: 0;
    margin-right: 5%;
  }
}