@import '../../../css/variables';

.container {
  background-color: $main-blue;
  height: 20vh;
  display: flex;
}

.content {
  border: $main-orange solid 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 1% 2%;
  width: 80%;
}

.text {
  color: $white-color;
  font-family: $main-font;
  font-size: 1.3rem;
}

@media (max-width: $xs-screen) {
  .content { flex-direction: column; }
}
