@import '../../css/variables';

.tile-container {
  margin: 1% 5%;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pyramid-title {
  text-align: center;
  font-family: $main-font;
  padding-top: 1%;
  font-size: 2.2rem;
}

.pyramid-text {
  text-align: center;
  font-family: $main-font;
  font-size: 1.2rem;
  width: 59%;
  margin: 0 auto;
  padding-top: 1%;
  color: $white-color;
}