@import '../../css/variables.scss';

.banner-container {
  height: 100vh;
  background-image: url('/public/assets/images/banner.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}


.banner-text {
  font-family: Arial, sans-serif;
  background-color: rgba(254, 202, 31, 0.5);
  color: $white-color;
  position: absolute;
  font-weight: bold;
  padding: 2% 7% 2% 1%;
  font-size: 1.2rem;
  top: 60%;
  width: 45%;
  right: 0;
}

@media (max-width: $xs-screen) {
  .banner-text {
    padding-left: 4%;
  }

  .page-title {
    padding: 4% 0 0 2%;
  }
}