@import '../../css/variables';

.case-mobile { display: none; }

.case-carousel-container { display: initial; }

@media (max-width: $xs-screen) {
  .case-carousel-container { display: none; }

  .case-mobile { display: initial; }
}