@import '../../css/variables';

.mobile { display: none; }

.carousel_container { display: initial; }

@media (max-width: $xs-screen) {
  .carousel_container { display: none; }

  .mobile { display: initial; }
}