@import '../../../css/variables';

.section-title {
  text-align: center;
  text-transform: uppercase;
  color: $main-orange;
  font-family: $main-font;
}

.section-subtitle {
  text-align: center;
  font-family: $main-font;
  font-size: 1.5rem;
}