@import '../../../css/variables';

.container {
  margin: 5% 0;
}

.title {
  text-align: center;
  text-transform: uppercase;
  color: $main-orange;
}

.subtitle {
  text-align: center;
  font-size: 1.5rem;
  margin: 2% 0;
}