@import '../../../css/variables';

.section-container {
  margin: 5% 0;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  color: $main-orange;
}

.section-subtitle {
  text-align: center;
  font-size: 1.5rem;
  margin: 2% 0;
}