@import '../../../css/variables';

.wrapper {
  width: 70vw;
  margin: 5% auto;
  box-shadow: 5px 5px 10px #565656;

  .title {
    background-color: $main-orange;
    color: $white-color;
    font-family: $main-font;
    padding: 2%;
    text-align: center;
    font-size: 1.2rem;
  }

  .text {
    background-color: $grey-color;
    font-family: $main-font;
    text-align: justify;
    font-size: 0.8rem;
    padding: 4% 6%;
  }
}