@import '../../css/variables';

.delivery-container {
  height: 75vh;
  position: relative;
}

.delivery-pyramid {
  background-color: $white-color;
  clip-path: $pyramid-title;
}

.pyramid-overlay {
  background-color: $grey-color;
  clip-path: polygon(50% 20%, 100% 0, 100% 70%, 49% 100%, 0 70%, 0 0);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

@media (max-width: $xs-screen) {
  .py-title {
    font-size: 1.8rem;
    width: 90%;
    margin: 10% auto;
  }
}