@import '../../css/variables';

.delivery-container {
  background-color: $grey-color;
}

.delivery-pyramid {
  background-color: $white-color;
  clip-path: $pyramid-title;
}

.delivery-content-wrapper {
  display: flex;
}

.carousel-container {
  height: 35vh;
  z-index: 1;
}