@import '../../css/variables';

.container {
  position: relative;
  max-width: 100%;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(100px, auto);
  grid-auto-flow: dense;
  grid-gap: 10px;
}

@media (max-width: $md-screen) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-template-rows: minmax(auto, auto);
  }
  .box {
    grid-column: unset !important;
    grid-row: unset !important;
    background-image: none !important;
    background-color: #feca1f;
    .box-text { display: block; }
  }
}