@import '../../css/variables';

.contact-page {
  display: inline-flex;
  background-color: $white-color;
  height: 70vh;
  padding-top: 12vh;
}

.contact-page-content {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  height: 90%;
}

.contact-logo-title {
  display: inline;
  margin-left: 15%;
  width: 55%;

  .contact-title {
    display: flex;
    font-family: $title-font-family;
    color: $main-blue;
    width: 80%;
    justify-content: flex-end;
  }

  .contact-title-one {
    font-family: $title-font-family;
    color: $main-blue;
    font-size: 4rem;
  }
}

.contact-page-item {
  justify-content: end;
  width: 30%;
}

.icons-text {
  display: flex;
  height: 22vh;

  .contact-page-text {
    font-family: $main-font;
    text-align: center;
  }

  .contact-page-img {
    width: 30%;
  }
}

.contact-overlay {
  background-color: $main-orange;

  .contact-page-pyramid {
    background-color: $white-color;
    clip-path: $pyramid-empty;
    height: 25vh;
  }

  .blue-overlay {
    background-color: $main-blue;
    height: 5vh;
  }
}

@media (max-width: $xs-screen) {
  .contact-page {
    display: block;
    margin: 0 auto;
    height: 80vh;
    padding: 0;
  }

  .contact-page-content {
    width: 70%;
    height: 60%;
    margin: 0 auto;
  }

  .contact-page-item {
    justify-content: center;
  }

  .icons-text {
    height: auto;
    justify-content: space-between;

    .contact-page-img {
      width: 60%;
    }
  }

  .contact-overlay {
    height: 10vh;

    .contact-page-pyramid {
      display: none;
    }
  }
}