@import '../../css/variables';

.contact-page {
  display: flex;
  background-color: $white-color;
  height: 90vh;
  padding-top: 12vh;
}

.contact-page-content {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  height: 90%;
}

.contact-logo-title {
  display: inline-block;
  font-family: $title-font-family;
  text-align: right;
  position: relative;
  left: 20%;

  .contact-title {
    color: $main-blue;
  }

  .contact-title-one {
    color: $main-blue;
  }
}

.contact-page-item {
  justify-content: end;
  width: 30%;
}

.icons-text {
  display: flex;
  height: 22vh;

  .contact-page-text {
    font-family: $main-font;
    text-align: center;
  }

  .contact-page-img {
    width: 25%;
  }
}

@media (max-width: $xs-screen) {
  .contact-page {
    display: block;
    margin: 0 auto;
  }

  .contact-page-content {
    width: 70%;
    height: 60%;
    margin: 0 auto;
  }

  .contact-page-item {
    justify-content: center;
  }

  .icons-text {
    height: auto;
    justify-content: space-between;

    .contact-page-img {
      width: 60%;
    }
  }
}