@import '../../css/variables';

.about-section {
  background-image: url('../../assets/images/about-us-image.jpg');
  background-size: cover;
}

.about-content {
  width: 25%;
  text-align: justify;
  margin-left: 10%;
}

.logo-title {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  bottom: 1rem;

  .logo {
    width: 35%;
  }
}

.about-title {
  font-family: $title-font-family;
  display: flex;
  align-items: flex-end;
  font-size: 2.8rem;
  margin-left: 1%;
}

.about-title-one {
  font-family: $title-font-family;
  font-size: 2.5rem;
}

.about-title-two {
  color: $main-orange;
  margin-top: 5%;
  margin-bottom: 2%;
  padding-left: 3%;
}

.about-text {
  font-family: $main-font;
  margin-top: 3%;
  margin-bottom: 3%;
}