@import '../../css/variables';

.about-section {
  background-image: url('../../assets/images/about-us-image.jpg');
  background-size: cover;
}

.about-content {
  width: 25%;
  text-align: justify;
  margin-left: 10%;
  padding-top: 14vh;

}

.logo-title {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  bottom: 1rem;
}

.about-title {
  font-family: $title-font-family;
  display: flex;
  align-items: flex-end;
  margin-left: 1%;
  font-size: 3.5rem;
  justify-content: flex-end;
  width: 84%;
  color: $main-blue;
}

.about-title-one {
  font-family: $title-font-family;
  font-size: 3rem;
  color: $main-blue;
}

.about-title-two {
  color: $main-orange;
  margin-top: 5%;
  margin-bottom: 2%;
  padding-left: 3%;
}

.about-text {
  font-family: $main-font;
  margin-top: 3%;
  margin-bottom: 5%;
}

@media (max-width: $xs-screen) {
  .about-content {
    width: 75%;
    margin: 0 auto;
    padding-top: 50%;
  }

  .logo-title {
    display: inline;
  }

  .about-title {
    display: inline;
  }
}