@import '../../../css/variables';

//TODO: Why are we using a class instead of css hover?
.hover {
  background-color: $main-orange;
  background-image: none;

  .text { display: block; }
}

.box {
  display: grid;
  padding: 3%;
  place-items: center;
  text-align: center;
  min-height: 20vh;
  transition: 0.5s;
  box-sizing: content-box;

  &:nth-child(1){
    grid-column: span 2;
    grid-row: span 1;
  }
  &:nth-child(2){
    grid-column: span 1;
    grid-row: span 2;
  }
  &:nth-child(3){
    grid-column: span 1;
    grid-row: span 3;
  }
  &:nth-child(4){
    grid-column: span 1;
    grid-row: span 2;
  }
  &:nth-child(5){
    grid-column: span 1;
    grid-row: span 1;
  }
  &:nth-child(6){
    grid-column: span 2;
    grid-row: span 1;
  }
}

.box:hover {
  background-image: none !important;
  background-color: #feca1f;
}

.title { font-family: $main-font; }

.text {
  font-size: clamp(12px, 0.9rem, 16px);
  display: none;
  color: $white-color;
}

@media (max-width: $md-screen) {
  .box {
    grid-column: unset !important;
    grid-row: unset !important;
    background-image: none !important;
    background-color: #feca1f;
    .text { display: block; }
  }
}