@import '../../css/variables';

.contact-container {
  background-color: $main-orange;
}

.contact-pyramid {
  background-color: $white-color;
  clip-path: $pyramid-title;
}

.contact-content {
  display: flex;
}

.contact-icon {
  width: 20%;
}

.contact-text {
  font-family: $main-font;
  color: $white-color;
  text-align: center;
  font-size: 1.2em;
}

.contact-item {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding-bottom: 2%;
}