@import '../../css/variables';

.header-wrapper {
  background-color: $main-blue;
  border-bottom: 4px solid $main-orange;
  display: flex;
  justify-content: flex-end;
  padding: 0 2%;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header-image, .header-wrapper.sticky, .header-image-wrapper { transition: all 500ms; }

.header-wrapper.sticky {
  display: flex;
  justify-content: space-between;
  .header-image-wrapper {
    position: relative;
    .header-image {
      transition: all 600ms;
      height: 10vh;
    }
  }
}

.header-image-wrapper {
  left: 8%;
  position: absolute;
}

#large-screen-menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.nav-menu {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  width: 50%;

  a {
    text-decoration: none;
    color: $white-color;
  }

  li {
    display: flex;
    transition: all 300ms;
    width: 100%;

    a {
      transition: all 300ms;
      padding: 10% 2%;
      text-align: center;
      width: 100%;
    }
  }

  li:hover {
    background-color: $main-orange;
    a { color: $main-blue; }
  }

  .header-elements {
    font-family: Arial, sans-serif;
    padding: 1% 3%;

    &:hover {
      transition: all 0.3s;
      background-color: $main-orange;
      cursor: pointer;
      color: $basic-font-color;
    }
  }
}

@media (min-width: $md-screen) {
  .header-image { height: 22vh; }
}

@media (max-width: $xs-screen) {
  #large-screen-menu { display: none; }

  .header-wrapper.sticky {
    .header-image { height: 6vh; }
  }

  .sticky-disabled {
    justify-content: space-between;
    .header-image-wrapper {
      position: relative;
      left: 0;
      .header-image { height: 4vh; }
    }
  }
}
