@import '../../css/variables';

.header-wrapper {
  display: flex;
  justify-content: flex-end;
  background-color: $main-blue;
  padding-right: 2%;
}

.nav-container {

}


.nav-menu {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  width: 50%;

  a {
    text-decoration: none;
    color: $white-color;
  }

  .header-elements {
    font-family: Arial, sans-serif;
    padding: 1% 3%;

    &:hover {
      background-color: $main-orange;
      cursor: pointer;
      color: $basic-font-color;
    }
  }
}