@import '../../css/variables';

.container {
  height: 75vh;
  position: relative;
}

.pyramid {
  background-color: $white-color;
  clip-path: $pyramid-title;
}

.pyramid_overlay {
  background-color: $grey-color;
  clip-path: polygon(50% 20%, 100% 0, 100% 70%, 49% 100%, 0 70%, 0 0);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.pyramid_title {
  text-align: center;
  padding-top: 1%;
  font-size: 2.2rem;
}

@media (max-width: $xs-screen) {
  .container {
    display: none;
  }
  .pyramid_title {
    font-size: 1.8rem;
    width: 90%;
    margin: 10% auto;
  }
}