@import '../../css/variables';

.page {
  display: inline-flex;
  position: relative;
  min-height: 100vh;
  padding-top: 7%;
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.form_container {
  padding: 2% 5%;
  width: 50%;
}

.title h1 {
  font-family: $title-font-family;
  color: $main-blue;
}

.item {
  justify-content: end;
  width: 30%;
}

.icons_text {
  display: flex;
  align-items: center;
  justify-content: center;

  .text {
    font-family: $main-font;
    text-align: center;
  }

  .image { width: 30%; }
}

.yellow_figure {
  clip-path: polygon(50% 50%, 100% 0, 100% 100%, 0 100%, 0 0);
  background-color: $main-orange;
  height: 100%;
}

.blue_line {
  position: relative;
  bottom: 20%;
  width: 100%;
  height: 20%;
  background-color: $main-blue;
}

.overlay {
  position: relative;
  width: 100%;

  .pyramid {
    background-color: $white-color;
    clip-path: $pyramid-empty;
    height: 25vh;
  }

  .blue_overlay {
    background-color: $main-blue;
    height: 5vh;
  }
}

@media (max-width: $xs-screen) {
  .page {
    display: block;
    margin: 0 auto;
    height: 80vh;
    padding: 0;
  }

  .title {
    margin-top: 7%;
  }

  .content {
    width: 100%;
    padding-top: 10%;
    margin: 0 auto;
  }

  .item { justify-content: center; }

  .icons_text {
    flex-direction: column;
    margin: 7% 0;

    .image { width: 60%; }
  }

  .form_container { width: 100% }

  .overlay {
    height: 8vh;
    margin-top: 26%;

    .pyramid { display: none; }

    .blue_overlay {
      position: relative;
      top: 4vh;
      height: 4vh;
    }
  }
}
