@import '../../css/variables';

.contact-page {
  display: inline-flex;
  position: relative;
  min-height: 100vh;
  padding-top: 7%;
  flex-wrap: wrap;
}

.contact-page-content {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.form-container {
  padding: 2% 5%;
  width: 50%;
}

.contact-logo-title {
  display: inline-block;
  font-family: $title-font-family;
  text-align: right;
  position: relative;
  left: 20%;

  .contact-title-one, .contact-title { color: $main-blue; }
}

.contact-page-item {
  justify-content: end;
  width: 30%;
}

.icons-text {
  display: flex;
  align-items: center;
  justify-content: center;

  .contact-page-text {
    font-family: $main-font;
    text-align: center;
  }

  .contact-page-img { width: 30%; }
}

.contact-overlay_yellow-figure {
  clip-path: polygon(50% 50%, 100% 0, 100% 100%, 0 100%, 0 0);
  background-color: $main-orange;
  height: 100%;
}

.contact-overlay_blue-line {
  position: relative;
  bottom: 20%;
  width: 100%;
  height: 20%;
  background-color: $main-blue;
}

.contact-overlay {
  position: relative;
  width: 100%;

  .contact-page-pyramid {
    background-color: $white-color;
    clip-path: $pyramid-empty;
    height: 25vh;
  }

  .blue-overlay {
    background-color: $main-blue;
    height: 5vh;
  }
}

@media (max-width: $xs-screen) {
  .contact-page {
    display: block;
    margin: 0 auto;
    height: 80vh;
    padding: 0;
  }

  .contact-page-content {
    width: 100%;
    padding-top: 10%;
    margin: 0 auto;
  }

  .contact-page-item { justify-content: center; }

  .icons-text {
    flex-direction: column;
    margin: 7% 0;

    .contact-page-img { width: 60%; }
  }

  .contact-logo-title { text-align: center; }

  .form-container { width: 100% }

  .contact-overlay {
    height: 8vh;
    margin-top: 26%;

    .contact-page-pyramid { display: none; }

    .blue-overlay {
      position: relative;
      top: 4vh;
      height: 4vh;
    }
  }
}