//Colors
$sections-background-color: #e4e4e4;
$mobile-menu-background-color: #e4e4e4e6;
$sections-border-color: #000;
$white-color: #ffff;
$basic-font-color: rgba(0, 0, 0, 0.7);
$main-orange: rgba(255, 140, 0, 0.6);
$main-blue: rgb(0, 0, 83);

//Devices sizes
$xs-screen: 450px;
$md-screen: 700px;
$lg-screen: 1024px;

//Fonts
$title-font-family: 'Gotham light';
$text-font-family: 'Gotham italic';
$main-font: Arial, sans-serif;

//Pyramid sizes
$pyramid-title-text: polygon(100% 0, 100% 64%, 50% 90%, 0 64%, 0 0);
$pyramid-title: polygon(100% 0, 100% 8%, 50% 55%, 0 8%, 0 0);

/*@font-face {
  font-family: 'Gotham light';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Gotham-Light.otf');
}*/