@import '../../css/variables';

.boxes-container {
  position: relative;
  width: 100vw;
  max-width: 100%;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(4, 22vw);
  grid-template-rows: repeat(3, 30vh);
  grid-auto-flow: dense;
  grid-gap: 10px;
}