@import './css/variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

h1 {
  color: $white-color;
  font-size: clamp(30px, 5rem, 64px);
}

a {
  text-decoration: none;
  color: $basic-font-color;
  font-family: $main-font;

  &:hover {
    text-decoration: underline;
  }
}

.page-title {
  text-align: right;
  left: 7%;
  position: relative;
  top: 12%;
  width: 20%;
}