@import './css/variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

h1, h2, h3, h6 {
  font-family: $title-font-family;
}

p, label {
  font-family: $text-font-family;
}

h1 {
  color: $white-color;
  font-size: clamp(30px, 5rem, 64px);
}

h3 {
  font-size: clamp(18px, 1.5rem, 24px);
}

p {
  font-size: clamp(12px, 1rem, 20px);
}

a {
  text-decoration: none;
  color: $basic-font-color;
  font-family: $main-font;

  &:hover {
    text-decoration: underline;
  }
}

.page-title {
  display: inline-block;
  font-family: $title-font-family;
  text-align: right;
  position: relative;
  left: 6%;
  top: 12%;
}