//Colors
$sections-background-color: #e4e4e4;
$mobile-menu-background-color: #e4e4e4e6;
$sections-border-color: #000;
$white-color: #ffff;

//Devices sizes
$xs-screen: 450px;
$md-screen: 700px;
$lg-screen: 1024px;

//Fonts
$title-font-family: 'Gotham light';
$text-font-family: 'Gotham italic';

/*@font-face {
  font-family: 'Gotham light';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Gotham-Light.otf');
}*/