@import '../../../css/variables';

@mixin tile-on-hover {
  background-color: $main-orange;
  position: relative;

  .tile-image { display: none; }

  .tile-title {
    color: $basic-font-color;
    margin: 0 auto 2% auto;
  }

  .tile-text {
    display: flex;
    align-items: center;
    text-align: center;
    height: 80%;
  }
}

.tile-content {
  transition: all 0.5s;
  margin: 2% 0;
  padding: 2%;
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 5px 15px #565656;
  border-radius: 10%;
  position: relative;
  top: 0;

  .tile-title {
    font-size: 1.1em;
    text-align: center;
    margin-top: 15%;
    color: $main-orange;
  }

  .tile-image {
    border-radius: 50%;
    height: 20vh;
    width: 20vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
  }

  .tile-text {
    display: none;
    color: $white-color;
    font-size: 0.9rem;
  }
}

.tile-content:hover {
  @include tile-on-hover;
  top: -15px;
}

@media (min-width: $lg-screen) {
  .tile-content { min-height: 40vh; }
}

@media (max-width: $xs-screen) {
  .tile-content {
    @include tile-on-hover;
    width: 100%;
    height: 38vh;
    margin: 10% auto;
  }
}