@import '../../../css/variables';

.tile-content {
  margin: 2% 4%;
  padding: 4%;
  width: 20%;
  border: 1px solid #000000;
  border-radius: 10%;
}

.tile-text {
  font-family: Arial, sans-serif;
  font-size: 1em;
  text-align: center;
}

.tile-image {
  border-radius: 50%;
  width: 100%;
}